h1{
  box-shadow: 0 0 0 4px;
  transition: all .3s ease;
  transform: rotate(10deg);
}

h3{
  font-size: 20px;
  font-weight: normal;
}


ol{
  color: blue;
  li{
    color: #666;
    font-size: 16px;
  }
}
